.slider.slider-horizontal{
	width:360px !important;
}

#ultraviolett-a.slider.slider-disabled .slider-selection,
#deep-purple.slider.slider-disabled .slider-selection,
#bluish-purple.slider.slider-disabled .slider-selection,
#violet-like-blue.slider.slider-disabled .slider-selection,
#bright-blue.slider.slider-disabled .slider-selection,
#greenisch-bright-blue.slider.slider-disabled .slider-selection,
#greenish-cyan.slider.slider-disabled .slider-selection,
#pure-green.slider.slider-disabled .slider-selection,
#yellow-green.slider.slider-disabled .slider-selection,
#citrus-yellow.slider.slider-disabled .slider-selection,
#natrium-yellow.slider.slider-disabled .slider-selection,
#pure-orange.slider.slider-disabled .slider-selection,
#bright-red.slider.slider-disabled .slider-selection,
#hyper-red.slider.slider-disabled .slider-selection,
#very-deep-red.slider.slider-disabled .slider-selection,
#NIR.slider.slider-disabled .slider-selection {
	background: #f7f7f7;
}
#ultraviolett-a.slider.slider-disabled .slider-handle,
#deep-purple.slider.slider-disabled .slider-handle,
#bluish-purple.slider.slider-disabled .slider-handle,
#violet-like-blue.slider.slider-disabled .slider-handle,
#bright-blue.slider.slider-disabled .slider-handle,
#greenisch-bright-blue.slider.slider-disabled .slider-handle,
#greenish-cyan.slider.slider-disabled .slider-handle,
#pure-green.slider.slider-disabled .slider-handle,
#yellow-green.slider.slider-disabled .slider-handle,
#citrus-yellow.slider.slider-disabled .slider-handle,
#natrium-yellow.slider.slider-disabled .slider-handle,
#pure-orange.slider.slider-disabled .slider-handle,
#bright-red.slider.slider-disabled .slider-handle,
#hyper-red.slider.slider-disabled .slider-handle,
#very-deep-red.slider.slider-disabled .slider-handle,
#NIR.slider.slider-disabled .slider-handle {
	background: #cfcfcf;
}

/* UVA - 375 nm */
	.btn-ultraviolett-a {
		border-color: #610061;
		color: #610061;
	}
	.toggle.btn-ultraviolett-a .toggle-handle,
	.btn-ultraviolett-a:hover {
		color: #fff;
		background-color: #610061;
		border-color: #610061;
	}
	#ultraviolett-a .slider-selection,
	#ultraviolett-a .slider-handle{
		background: #610061;
	}

/* Deep Purple - 395 nm */
	.btn-deep-purple {
		border-color: #8000a1;
		color: #8000a1;
	}
	.toggle.btn-deep-purple .toggle-handle,
	.btn-deep-purple:hover {
		color: #fff;
		background-color: #8000a1;
		border-color: #8000a1;
	}
	#deep-purple .slider-selection,
	#deep-purple .slider-handle{
		background: #8000a1;
	}

/* Bluish Purple - 415 nm */
	.btn-bluish-purple {
		border-color: #7600ed;
		color: #7600ed;
	}
	.toggle.btn-bluish-purple .toggle-handle,
	.btn-bluish-purple:hover {
		color: #fff;
		background-color: #7600ed;
		border-color: #7600ed;
	}
	#bluish-purple .slider-selection,
	#bluish-purple .slider-handle{
		background: #7600ed;
	}

/* Violet-like Blue - 428 nm */
	.btn-violet-like-blue {
		border-color: #4600ff;
		color: #4600ff;
	}
	.toggle.btn-violet-like-blue .toggle-handle,
	.btn-violet-like-blue:hover {
		color: #fff;
		background-color: #4600ff;
		border-color: #4600ff;
	}
	#violet-like-blue .slider-selection,
	#violet-like-blue .slider-handle{
		background: #4600ff;
	}

/* Bright Blue" - 460 nm */
	.btn-bright-blue {
		border-color: #003fff;
		color: #003fff;
	}
	.toggle.btn-bright-blue .toggle-handle,
	.btn-bright-blue:hover {
		color: #fff;
		background-color: #003fff;
		border-color: #003fff;
	}
	#bright-blue .slider-selection,
	#bright-blue .slider-handle{
		background: #003fff;
	}

/* Bright blue with some greenisch touch - 470 nm */
	.btn-greenisch-bright-blue {
		border-color: #007fff;
		color: #007fff;
	}
	.toggle.btn-greenisch-bright-blue .toggle-handle, 
	.btn-greenisch-bright-blue:hover {
		color: #fff;
		background-color: #007fff;
		border-color: #007fff;
	}
	#greenisch-bright-blue .slider-selection,
	#greenisch-bright-blue .slider-handle{
		background: #007fff;
	}

/* Greenish Cyan - 500 nm */
	.btn-greenish-cyan {
		border-color: #00ffb6;
		color: #00ffb6;
	}
	.toggle.btn-greenish-cyan .toggle-handle,
	.btn-greenish-cyan:hover {
		color: #fff;
		background-color: #00ffb6;
		border-color: #00ffb6;
	}
	#greenish-cyan .slider-selection,
	#greenish-cyan .slider-handle{
		background: #00ffb6;
	}

/* Pure Green - 525 nm */
	.btn-pure-green {
		border-color: #00ff00;
		color: #00ff00;
	}
	.toggle.btn-pure-green .toggle-handle,
	.btn-pure-green:hover {
		color: #fff;
		background-color: #00ff00;
		border-color: #00ff00;
	}
	#pure-green .slider-selection,
	#pure-green .slider-handle{
		background: #00ff00;
	}

/* Yellow Green - 565 nm */
	.btn-yellow-green {
		border-color: #b9ff00;
		color: #b9ff00;
	}
	.toggle.btn-yellow-green .toggle-handle,
	.btn-yellow-green:hover {
		color: #fff;
		background-color: #b9ff00;
		border-color: #b9ff00;
	}
	#yellow-green .slider-selection,
	#yellow-green .slider-handle{
		background: #b9ff00;
	}

/* Citrus Yellow - 574 nm */
	.btn-citrus-yellow {
		border-color: #e3ff00;
		color: #e3ff00;
	}
	.toggle.btn-citrus-yellow .toggle-handle,
	.btn-citrus-yellow:hover {
		color: #fff;
		background-color: #e3ff00;
		border-color: #e3ff00;
	}
	#citrus-yellow .slider-selection,
	#citrus-yellow .slider-handle{
		background: #e3ff00;
	}

/* Natrium Yellow - 592 nm */
	.btn-natrium-yellow {
		border-color: #ffbf00;
		color: #ffbf00;
	}
	.toggle.btn-natrium-yellow .toggle-handle,
	.btn-natrium-yellow:hover {
		color: #fff;
		background-color: #ffbf00;
		border-color: #ffbf00;
	}
	#natrium-yellow .slider-selection,
	#natrium-yellow .slider-handle{
		background: #ffbf00;
	}

/* Pure Orange - 611 nm */
	.btn-pure-orange {
		border-color: #ff7b00;
		color: #ff7b00;
	}
	.toggle.btn-pure-orange .toggle-handle,
	.btn-pure-orange:hover {
		color: #fff;
		background-color: #ff7b00;
		border-color: #ff7b00;
	}
	#pure-orange .slider-selection,
	#pure-orange .slider-handle{
		background: #ff7b00;
	}

/* Bright Red - 640 nm */
	.btn-bright-red {
		border-color: #ff1200;
		color: #ff1200;
	}
	.toggle.btn-bright-red .toggle-handle,
	.btn-bright-red:hover {
		color: #fff;
		background-color: #ff1200;
		border-color: #ff1200;
	}
	#bright-red .slider-selection,
	#bright-red .slider-handle{
		background: #ff1200;
	}

/* Hyper Red - 660 nm */
	.btn-hyper-red {
		border-color: #e4002d;
		color: #e4002d;
	}
	.toggle.btn-hyper-red .toggle-handle,
	.btn-hyper-red:hover {
		color: #fff;
		background-color: #e4002d;
		border-color: #e4002d;
	}
	#hyper-red .slider-selection,
	#hyper-red .slider-handle{
		background: #e4002d;
	}

/* Very deep Red - 700 nm */
	.btn-very-deep-red {
		border-color: #97004b;
		color: #97004b;
	}
	.toggle.btn-very-deep-red .toggle-handle,
	.btn-very-deep-red:hover {
		color: #fff;
		background-color: #97004b;
		border-color: #97004b;
	}
	#very-deep-red .slider-selection,
	#very-deep-red .slider-handle{
		background: #97004b;
	}

/* NIR */
	.btn-NIR {
		border-color: #000000;
		color: #000000;
	}
	.toggle.btn-NIR .toggle-handle,
	.btn-NIR:hover {
		color: #fff;
		background-color: #000000;
		border-color: #000000;
	}
	#NIR .slider-selection,
	#NIR .slider-handle{
		background: #000000;
	}
